header {
  text-align: center;
  font-weight: bold;
}

#mobileDisclaimer {
  display: none;
}

#tempMobilePanda {
  display: none;
}

@media only screen and (max-width: 600px) {
  #mobileDisclaimer {
    display: block;
    color: red;
    padding: .5em;
  }
  #slideContainer {
    display: none;
  }
  #tempMobilePanda {
    display: block;
    margin: 1em;
  }
  #tempMobilePanda img {
    max-width: 100%;
  }
}

#slideContainer {
  max-width: 40em;
  position: relative;
  margin: auto;
  width: 60vw;
}

.project {
  display: none;
}

.prevButton, .nextButton {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 1em;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.nextButton {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prevButton:hover, .nextButton:hover {
  background-color: rgba(0,0,0,0.8);
}

.imageText {
  color: black;
  font-size: 2em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.projectNumber {
  color: #f2f2f2;
  font-size: 2em;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
} 

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}